@charset "utf-8";
@import url(./reset.css);


/* ====================================
    ======= wrap ======    
==================================== */
.wrap {
	width: 1900px;
	margin: auto;
}
.inner {
    width: 100%;
	max-width: 1700px;
	margin: auto;
}
/* ====================================
    ======= header ======    
==================================== */	
header{
	background: #fdebeb;
	width: 100%;
	position: relative;
	overflow: hidden;
}
header::after{
	position: absolute;
	content: '';
	width: 1600px;
	height: 1600px;
	top: -240px;
	left: -361px;
	background: url(../img/Rectangle.png) no-repeat 100%;
}
header::before{
	position: absolute;
	content: '';
	border: 1px solid var(--primary1);
	border-radius: 50%;
	width: 700px;
	height: 700px;
	top: -104px;
	right: -145px;
	opacity: .5;
}
header .rotate{
	position: absolute;
	top: -30%;
	left: -27%;
	z-index: 1;
	opacity: .8;
	animation: rotate 10s linear infinite;
    transform-origin:50% 50% ;
}
@keyframes rotate {
	to {
	  transform: rotate(1turn);
	}
  }
nav{
	width: 100%;
	max-height: calc(var(--row) * 4);
	position: relative;
	z-index: 5;
	padding-top: 28px;
}
nav .logo{
	position: relative;
}
nav .logo img{
	width: 80px;
}
nav .logo::before{
	position: absolute;
	content: '';
	width: 105px;
	height: 105px;
	border-radius: 50%;
	background: #fff;
	left: -12px;
	top: -12px;
	opacity: .5;
	z-index: -1;
}
nav ul{
	position: absolute;
	right: 0;
	top: 70%;
	transform: translateY(-70%);
}
nav ul li a{
	font-size: 18px;
	font-family: 'NanumSquareNeo';
	font-weight: bold;
	margin-left: 20px;
	color: var(--primary1);
}
nav ul li a:hover{
	color: #404040;
	transition: all .5s;
}
.banner_text{
	width: 100%;
	max-width: 70%;
}
.main_text #dynamic{
	position: relative;
	display: inline-block;
}
.main_text #dynamic::after{
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
	width: 4px;
	height: 85%;
	background: var(--primary1);
}
.main_text #dynamic.active::after{
    display: none;
}
.banner_text .main_text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100px;
    align-items: flex-start;
    justify-content: flex-start;
	z-index: 2;
}
.banner_text .banner_btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100px;
	z-index: 2;
}
.banner_text .main_text p{
	color: var(--primary1);
    text-align: left;
    font-family: 'NanumSquareNeo';
    font-size: 6.2rem;
    line-height: 100px;
    font-weight: 700;
}
.banner_text .button1,
.banner_text .button2{
	border: 1px solid var(--primary1);
	border-radius: 20px;
	text-align: center;
	align-items: center;
	padding: 10px 30px;
	gap: 20px;
	margin-top: 300px;
	margin-right: 20px;
}
.banner_text .button1:hover,
.banner_text .button2:hover{
	background: var(--primary1);
	border-radius: 20px;
	color: #fff;
	transition: all .5s;
}
.banner_btn i{
	font-size: 2.5rem;
}
.banner_text .button1 p,
.banner_text .button2 p{
	font-size: 2rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
}
.banner_btn a{
	cursor: pointer;
	color: #404040;
}
.profile{
	position: relative;
	width: 100%;
	max-width: 30%;
	margin-right: 250px;
	z-index: 5;
}
.profile img{
	width: 100%;
}
/* ====================================
    ======= main ======    
==================================== */	
main{
	background: var(--bg2);
}
/* ====================================
    ======= section1 ======    
==================================== */	
.section1{
	width: 100%;
	height: 100%;
}
.aboutme{
	width: 100%;
	padding-top: 28px;
	padding-bottom: 18px;
	border-bottom: 1px solid var(--text3);
}
.aboutme p{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
}
.quicklee{
	margin-top: calc(var(--row) * 4);
	justify-content: space-around;
}
.quicklee .img1 img{
	width: 200px;
}
.quicklee .img2 img{
	width: 144px;
}
.intro_text{
	font-size: 4.8rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
	text-align: center;
	align-items: center;
	margin-left: 20px;
}
.intro_text span{
	color: var(--primary1);
}
.intro{
	margin-top: calc(var(--row) * 4);
	justify-content: space-around;
	margin-bottom: calc(var(--row) * 4);
}
.intro h3{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
	margin-bottom: calc(var(--row) * 2);
}
.introduce .text_box .text_left,
.education .text_box .text_left{
	display: flex;
	flex-direction: column;
	font-weight: bold;
}
.introduce .text_box,
.personalities .text_box,
.education .text_box{
	font-size: 2rem;
	gap: 50px;
}
.introduce .text_box span,
.introduce .text_box p,
.education .text_box span,
.education .text_box p{
	margin-bottom: 20px;
	color: #404040;
}
.personalities .text_box span{
	background-color: #fff;
	border: 0px solid;
	border-radius: 30px;
	padding: 20px;
	margin-right: 20px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.personalities .text_box .text_top{
	margin-bottom: 80px;
}
/* ====================================
    ======= section2 ======    
==================================== */	
.section2{
	width: 100%;
}
.skills{
	width: 100%;
	padding-top: 22px;
	padding-bottom: 18px;
	border-bottom: 1px solid var(--text3);
}
.skills p{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
}
.skill_bar{
	margin-top: calc(var(--row) * 4);
}
.skill_left{
	width: 50%;
	margin-right: 80px;
}
.skill_right{
	width: 50%;
}
.skill_bar .bar{
	position: relative;
	width: 400px;
	height: var(--row);
	background: var(--primary2);
	border-radius: 30px;
}
.skill_bar .bar::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: var(--primary1);
	border-radius: 30px;
	width: 90%;
	height: 100%;
	z-index: 1;
}
.skill_bar p {
	font-size: 2.5rem;
	margin-bottom: calc(var(--row) * 4);
}
.illustrator,.photoshop,.figma,.github,
.html-5,.css-3,.scss,.javascript{
	justify-content: space-between;
}
/* ====================================
    ======= section3 ======    
==================================== */	
.recent_works{
	width: 100%;
	padding-top: 28px;
	padding-bottom: 18px;
	border-bottom: 1px solid var(--text3);
	justify-content: space-between;
}
.recent_works p{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
}
.recent_works span{
	font-size: 2rem;
	color: #9f9f9f;
}
.project1{
	justify-content: space-between;
	margin-top: 28px;
	margin-bottom: calc(var(--row) * 4);
}
.project1_box{
	width: 60%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: url(../img/project1.png) no-repeat center top;
	background-size: 100%;
}
.project1_box:hover{
	background: url(../img/project1.png) no-repeat center bottom;
	transition: all 1.5s;
	background-size: 100%;
}
.project1_box2{
	width: 38%;
}
.project1_explan{
	background: var(--bg);
	border-radius: 20px;
	padding: 50px;
}
.project1_text .title{
	justify-content: space-between;
	border-bottom: 1px solid var(--text3);
}
.project1_text .title h2{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	margin-top: 20px;
	margin-bottom: 20px;
}
.project1_text .title span{
	font-size: 3rem;
	line-height: 70px;
	color: var(--text3);
	position: relative;
}
.project1_text .title span:hover{
	color: #404040;
	transition: all .5s;
	transform: translateX(20%);
}
.period{
	padding-top: 28px;
	border-bottom: 1px solid var(--text3);
}
.period_left{
	margin-right: 18px;
}
.period_left span{
	font-size: 18px;
	color: #808080;
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
}
.period_right p{
	font-size: 20px;
	color: #404040;
	margin-bottom: 28px;
}
.project1 .period .period_right span{
	font-size: 16px;
	color: #404040;
	line-height: 20px;
	margin-bottom: 28px;
}
.project1_explan .main_text{
	margin-top: 28px;
}
.project1_explan .main_text p{
	font-size: 18px;
	color: #404040;
	font-family: 'NanumSquareNeo';
	line-height: 35px;
	margin-bottom: calc(var(--row) * 4);
}
.project1 .project1_box2 .botton{
	justify-content: space-around;
	margin-top: 28px;
}
.project1 .project1_box2 .botton>a{
	border: 1px solid var(--primary1);
	padding: 20px 30px;
	border-radius: 20px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.project1 .project1_box2 .botton>a:hover{
	background: var(--primary1);
	border-radius: 20px;
	transition: all .5s;
}
.project1 .project1_box2 .botton>a:hover p,
.project1 .project1_box2 .botton>a:hover i,
.project1 .project1_box2 .botton>a:hover span
{
	color: #fff;
}
.project1 .project1_box2 .botton i,
.project1 .project1_box2 .botton span{
	font-size: 20px;
	color: #404040;
}
.project1 .project1_box2 .botton>a p{
	font-size: 18px;
	color: #404040;
}


/* ====================================
    ======= section4 ======    
==================================== */	
.project2{
	justify-content: space-between;
	margin-top: 28px;
	margin-bottom: calc(var(--row) * 4);
}
.project2_box{
	width: 38%;
}
.project2_box2{
	width: 60%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: url(../img/project2.png) no-repeat center top;
	background-size: 100%;
}
.project2_box2:hover{
	background: url(../img/project2.png) no-repeat center bottom;
	transition: all 1.5s;
	background-size: 100%;
}
.project2_explan{
	background: var(--bg);
	border-radius: 20px;
	padding: 50px;
}
.project2_text .title{
	justify-content: space-between;
	border-bottom: 1px solid var(--text3);
}
.project2_text .title h2{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	margin-top: 20px;
	margin-bottom: 20px;
}
.project2_text .title span{
	font-size: 3rem;
	line-height: 70px;
	color: var(--text3);
	position: relative;
}
.project2_text .title span:hover{
	color: #404040;
	transition: all .5s;
	transform: translateX(20%);
}
.period{
	padding-top: 28px;
	border-bottom: 1px solid var(--text3);
}
.period_left{
	margin-right: 20px;
}
.period_left span{
	font-size: 20px;
	color: #808080;
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
}
.period_right p{
	font-size: 20px;
	color: #404040;
	margin-bottom: 28px;
}
.period_right span{
	font-size: 16px;
	color: #404040;
	line-height: 20px;
	margin-bottom: 28px;
	font-weight: bold;
}
.project2_explan .main_text{
	margin-top: 28px;
}
.project2_explan .main_text p{
	font-size: 18px;
	color: #404040;
	font-family: 'NanumSquareNeo';
	line-height: 35px;
	margin-bottom: calc(var(--row) * 4);
}
.project2 .project2_box .botton{
	justify-content: space-around;
	margin-top: 28px;
}
.project2 .project2_box .botton>a{
	border: 1px solid var(--primary1);
	padding: 20px 70px;
	gap: 10px;
	border-radius: 20px;
	align-items: center;
	cursor: pointer;
}
.project2 .project2_box .botton>a:hover{
	background: var(--primary1);
	border-radius: 20px;
	transition: all .5s;
}
.project2 .project2_box .botton>a:hover p,
.project2 .project2_box .botton>a:hover i,
.project2 .project2_box .botton>a:hover span
{
	color: #fff;
}
.project2 .project2_box .botton i,
.project2 .project2_box .botton span{
	font-size: 20px;
	color: #404040;
}
.project2 .project2_box .botton>a p{
	font-size: 18px;
	color: #404040;
}
/* ====================================
    ======= section5 ======    
==================================== */	
.project3{
	justify-content: space-between;
	margin-top: 28px;
	margin-bottom: calc(var(--row) * 4);
}
.project3_box{
	width: 60%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: url(../img/project3.png) no-repeat top;
	background-size: 100%;
}
.project3_box2{
	width: 38%;
}
.project3_explan{
	background: var(--bg);
	border-radius: 20px;
	padding: 50px;
}
.project3_text .title{
	justify-content: space-between;
	border-bottom: 1px solid var(--text3);
}
.project3_text .title h2{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	margin-top: 20px;
	margin-bottom: 20px;
}
.project3_text .title span{
	font-size: 3rem;
	line-height: 70px;
	color: var(--text3);
	position: relative;
}
.project3_text .title span:hover{
	color: #404040;
	transition: all .5s;
	transform: translateX(20%);
}
.period{
	padding-top: 28px;
	border-bottom: 1px solid var(--text3);
}
.period_left{
	margin-right: 20px;
}
.period_left span{
	font-size: 20px;
	color: #808080;
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
}
.period_right p{
	font-size: 20px;
	color: #404040;
	margin-bottom: 28px;
}
.period_right span{
	font-size: 16px;
	color: #404040;
	line-height: 20px;
	margin-bottom: 28px;
	font-weight: bold;
}
.project3_explan .main_text{
	margin-top: 28px;
}
.project3_explan .main_text p{
	font-size: 18px;
	color: #404040;
	font-family: 'NanumSquareNeo';
	line-height: 35px;
	margin-bottom: calc(var(--row) * 4);
}
.project3 .project3_box2 .botton{
	justify-content: space-around;
	margin-top: 28px;
}
.project3 .project3_box2 .botton>a{
	border: 1px solid var(--primary1);
	padding: 20px 70px;
	border-radius: 20px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.project3 .project3_box2 .botton>a:hover{
	background: var(--primary1);
	border-radius: 20px;
	transition: all .5s;
}
.project3 .project3_box2 .botton>a:hover p,
.project3 .project3_box2 .botton>a:hover i,
.project3 .project3_box2 .botton>a:hover span
{
	color: #fff;
}
.project3 .project3_box2 .botton i,
.project3 .project3_box2 .botton span{
	font-size: 20px;
	color: #404040;
}

.project3 .project3_box2 .botton>a p{
	font-size: 18px;
	color: #404040;
}

/* ====================================
    ======= section6 ======    
==================================== */	
.section6{
	width: 100%;
	background: #23252b;
}
.artwork{
	width: 100%;
	padding-top: calc(var(--row) * 4);
	padding-bottom: calc(var(--row) * 4);
}
.artwork p{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
	color: #fff;
}
.artwork_btn{
	justify-content: space-between;
	border-bottom: 1px solid #dfdfdf;
}
.artwork_btn li a{
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	padding: 10px 130px;
	gap: 20px;
	margin-bottom: 28px;
	align-items: center;
	color: #dfdfdf;
	font-size: 25px;
}
.artwork_btn li a.on{
	background: #dfdfdf;
	border-radius: 20px;
	color: #23252b;
	font-weight: 600;
}
.artwork_img{
	padding-top: calc(var(--row) * 3);
	width: 100%;
	height: 100%;
	padding-bottom: calc(var(--row) * 4);
	overflow: hidden;
}
.artwork_img #tab1,
.artwork_img #tab2,
.artwork_img #tab3{
	display: flex;
}
.artwork_img #tab1,
.artwork_img #tab2{
	gap: 100px;
}
.artwork_img #tab3{
	gap: 100px;
}
.artwork_img .editorial img,
.artwork_img .illustration img{
	width: 500px;
	height: 500px;
	border-radius: 20px;
}
.artwork_img > div{
	display: none;
}
.artwork_img > div.on {
	display: flex;
}
.artwork_img .graphic img{
	width: 350px;
	height: 490px;
	border-radius: 20px;
}
.imgbox{
	position: relative;
}
.imgbox .caption{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: all .5s;
	opacity: 0;
	border-radius: 20px;
}
.imgbox .caption h2{
	font-size: 3rem;
	font-family: 'NanumSquareNeo';
	font-weight: 500;
	margin-bottom: 28px;
}
.imgbox .caption p{
	font-size: 2rem;
	margin-bottom: 14px;
}
.imgbox .caption span{
	font-size: 1.6rem;
}
.imgbox:hover .caption{
	opacity: 1;
	background-color: rgba(0,0,0,.5);
}
/* ====================================
    ======= footer ======    
==================================== */	
footer{
	width: 100%;
	background: var(--bg2);
	position: relative;
}
.footer_left{
	width: 30%;
	display: flex;
	justify-content: end;
	margin-right: var(--col);
}
.footer_left .img3 img{
	margin-top: 28px;
	width: 300px;
}
.footer_left,
.footer_right{
	margin-top: calc(var(--row) * 4);
}
.footer_right{
	width: 50%;
}
.footer_right .contect h2{
	position: relative;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
	font-size: 4.8rem;
	color: #202020;
	margin-bottom: 56px;
}
.footer_right .contect h2::before{
	position: absolute;
	content: '';
	width: 50%;
	height: 1px;
	background: var(--text3);
	bottom: -28px;
	left: 0;
}
.footer_right .contect_text p{
	font-size: 25px;
	font-family: 'NanumSquareNeo';
	line-height: 45px;
}
.contect_num {
	margin-top: 28px;
}
.contect_num>div{
	font-size: 20px;
	font-family: 'NanumSquareNeo';
	margin-right: 40px;
	color: var(--text2);
}
.contect_num>div b{
	font-weight: bold;
}
.contect_btn{
	margin-bottom: calc(var(--row) * 4);
}
.contect_btn .button1,
.contect_btn .button2{
	border: 1px solid var(--primary1);
	border-radius: 20px;
	text-align: center;
	align-items: center;
	padding: 10px 30px;
	gap: 20px;
	margin-right: 40px;
	margin-top: 28px;
	cursor: pointer;
}
.contect_btn .button1:hover,
.contect_btn .button2:hover{
	background: var(--primary1);
	border-radius: 20px;
	color: #fff;
	transition: all .5s;
}
.contect_btn i{
	font-size: 2.5rem;
}
.contect_btn a{
	color: #404040;
}
.contect_btn .button1 p,
.contect_btn .button2 p{
	font-size: 1.6rem;
	font-family: 'NanumSquareNeo';
	font-weight: 700;
}
.footer{
	position: relative;
	padding-bottom: 56px;
}
.footer::after{
	position: absolute;
	content: '';
	bottom: 50px;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--text3);
}
footer .top{
	position: fixed;
	background: #fff;
	width: 70px;
	height: 70px;
	bottom: 70px;
	right: 50px;
	border-radius: 50%;
	box-shadow: 4px 4px 4px rgba(0,0,0,.5);
	z-index: 9;
}
footer .top span{
	position: relative;
	font-size: 5rem;
	color: var(--text3);
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	z-index: 9;
}